.examLabellerWrapper {
  height: 100%;
  width: 100%;
  max-height: 70rem;
  // max-width: 90rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 4px 4px 4px #9c9c9c;
  display: flex;
  flex-flow: column;
}

.examLabellerHeaderBar {
  width: 100%;
  background: #cecece;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
}

.examLabellerBody {
  display: flex;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}
